
.technique-item {
    width: 30px;
}

.matrix-container {
    padding-top: 50px;
}

/* matrix 요소 scorll box */
.matrix-scroll {
    width: 100%;
    overflow-x: scroll;
    background-color: rgb(32, 32, 32);
}

/* matrix 요소 최상단 정렬 */
table td, table td * {
    vertical-align: top;
}

/* matrix 요소 간 간격 */
table {
    border-spacing: 30px;
}

